#setup applied on init to MOSTAB (MoCo2)
#Use # for comments, put one command per line, capital letters
#Refer to MoCo2 document for commands.
MODE OSCILLATION
INBEAM SOFT 1
OUTBEAM VOLT NORM UNIP 10 NOAUTO
OPRANGE 0.1 9.9 5
SPEED 2 10
#Setup 48Hz
AMPLITUDE 0.03
PHASE     -50
FREQUENCY 47.619
TAU       2
SLOPE     0.083
#Setup 38 Hz
#AMPLITUDE 0.025
#PHASE 83.
#FREQUENCY 38.4615
#TAU 4
#SLOPE -0.08



  
